
.footer-test {
    height: 80vh;
    background-color: lightslategrey;
    color: rgb(184, 243, 192);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 10px;
    background-color: rgb(188, 219, 8);
    color: rgb(219, 90, 180);
}