.header-test  {
    height: 20px;
    background-color: rgb(177, 213, 250);
    color: rgb(255, 0, 0);
}


.header  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgb(126 175 244);
    color: rgb(82, 177, 206);

    .header-top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;            

        .top-right {
            font-size: 1em;
        }
        
        
        .top-left {
            font-size: 1em;
            display: flex;
            flex-direction: row;
        }



    }
    .header-bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        justify-items: start;
    }

    .header-nav-link {
        margin: 4px;
    }


}

.header-links  {
    display: flex;
    margin: 6px;
    background-color: rgb(30, 39, 53);
}


.logo {
    width: 50vw;
    margin: 6px;
    background-color: rgb(105 120 141);    
    height: 500px;
    width: 50%vw;
}


.menu-toggle {
    display: none; /* Hide by default */
    font-size: 30px;
    cursor: pointer;
    //padding: 10px;
    margin-right: 20px;
}