.header-test  {
    height: 20px;
    background-color: rgb(177, 213, 250);
    color: rgb(255, 0, 0);
}


.header  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgb(126 175 244);
    color: rgb(219, 90, 180);

    .header-top-row {
        display: flex;
        justify-content: space-between;



    }
    .header-bottom-row {
        display: flex;
        justify-content: space-between;

    }


}

.header-links  {
    display: flex;
    margin: 6px;
    background-color: rgb(255, 224, 137);
    align-self: flex-end
}



.logo {
    width: 50vw;
    margin: 6px;
    background-color: rgb(112 127 148);    height: 500px;
    width: 50%vw;

}


