.spacer60 {
    height: 60px;
    width: 100%;
}

.spacer10 {
    height: 10px;
    width: 100%;
}


.span10 {
    width:10px;
    height:auto;
    display:inline-block;
}
.span30 {
    width:30px;
    height:auto;
    display:inline-block;
}
.span60 {
    width:60px;
    height:auto;
    display:inline-block;
}

