@import "./pages.scss";
@import "./helpers.scss";
@import "./carousel.scss";
@import "./header.scss";
@import "./media-queries.scss";


body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
  //  width: 100vw;
  }
  
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  background-color: rgb(119, 129, 63);
  color: rgb(226, 217, 224);
}