@import "./header.scss";
@import "./footer.scss";




.general {
    color: blanchedalmond;
    background-color: darkgrey;
}

.homepage {
    height: 150px;
    color: lightyellow;
    background-color: darkblue;
}