@import "./footer.scss";
@import "./pages.scss";
@import "./helpers.scss";
@import "./carousel.scss";
@import "./header.scss";
@import "./media-queries.scss";


body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
  }


navlink {
  background-color: seagreen;
}

