
@media (max-width: 820px) {    // contents of this only affect the header 

    .header-bottom-row {
        display: flex;
        flex-direction: column;

        .logo {
            order: 1;
            align-self: center;
            width: 98vw;

        }
        .bottom-left {
            order: 2;
        }
        .bottom-right {
            order: 3;
        }
    }

    .menu-items {
        display: none; /* Hide on small screens */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #532424;
        width: 100%;
        padding: 5px;
    }
    .menu-items.show {
        display: flex; /* Show menu when state is active */
    }

    .menu-toggle {
        display: flex; /* Show menu icon on small screens */
        padding: 0px;
        padding-left: 8px;
        color: rgb(208 173 240);

    }

    .header-links.top-left {
        flex-direction: row;
        position: relative;
    }

    .ham-text {
        font-size: 18px;
        color: white;
    }

    .user-status {
        display: none;
    }
}

@media (max-width: 955px) {    // contents of this only affect editor area... 
    .editor-parent {
        display: grid;
        grid-template-columns: 1fr;
    }

    .lesson-editor {
        background-color: #ce6e48;

    }
    .vocab-editor {
        background-color: #8248ce;

    }
}