.dark-page{
    min-height: 650px;
    color: blanchedalmond;
   background-color: black;
   width: 100vw;
}

.general-page {
    min-height: 650px;
    color: blanchedalmond;
    background-color: darkslategrey;
    width: 100vw;
}

.homepage {
    min-height: 650px;
    color: lightyellow;
    background-color: darkblue;
}

.editor-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
}

.editor-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    //padding: 7px white;
    border: solid 5px rgb(218, 206, 206);
    background-color: rgb(19, 90, 151); 
    text-align: left;
}

.smaller-text {
    font-size: 0.7em;
}

